.header {
    padding: 30px 80px 40px;
    height: 800px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    background-image: url(../images/background_header.svg);
    position: relative;
    background-size: cover;
    }

    .header__image {
      position: absolute;
      top: 124px;
      right: 5px;
      width: 646px;
      height: 568px;
    }

    .header__title {
    margin: 183px 0 0;
    font-family: "Inter", "Arial", sans-serif;
    font-weight: 500;
    font-size: 60px;
    line-height: 72px;
    letter-spacing: -0.6px;
    max-width: 729px;
    white-space: nowrap;
    }

    .header__footer {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      position: absolute;
      width: 100%;
      bottom: 0;
      right: 0;
      padding: 20px;
      box-sizing: border-box;
      font-family: "Inter";
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #6f6f6f
    }

    .header__paragraph {
      margin: 0;
    }

    .header__address {
      margin: 0;
      text-align: right;
      margin-right: 80px;
    }

    .header__span-accent {
      color: #3f96f3;
      display: block;
      font-family: "Noto Serif", "Times New Roman", serif;
    font-style: italic;
    font-weight: normal;
    font-size: 60px;
    line-height: 72px;
    color: #3F96F3;
    }

    .header__description {
    font-family: "Noto Serif", "Times New Roman", sans-serif;
    font-size: 20px;
    line-height: 30px;
    margin: 28px 0 0;
    max-width: 683px;
    color: #000000;
    }